.detail__visual {
    width: 100%;
    filter:brightness(40%);
}
.detail__contents {
    width: 70%;
    margin: 50px auto;
    .detail__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h3 {
            font-size: 3.5rem; 
            font-weight: 800;
        }
        .detail__info__skill {
            display: block;
            color: #888; 
            font-size: 2rem;
        }
        .detail__info__btn {
            a {
                padding: 10px;
                font-size: 2rem;
            }
        }

    }

    .detail__contents__img {
        width: 100%;
        height: 600px;
        background-color: var(--white);
    }

    .detail__contents__text {
        margin: 30px 0;
        h4 {font-size: 3rem; font-weight: 800; }
        p {color: var(--grey8); font-size: 1.7rem; }
        ul {
            li {
                font-size: 1.7rem;
                strong {font-weight: 800;}
                span {color: var(--grey8);}
            }
        }
    }
}


